body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 600px;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 25px 100px;
  margin: 100px auto;
}

.centered-container {
  display: flex;
  justify-content: center; /* Pusatkan secara horizontal */
  align-items: flex-start; /* Pusatkan secara vertikal */
  height: 100vh; /* Gunakan seluruh tinggi viewport */
}

.counter {
  display: flex;
  justify-content: center; /* Pusatkan secara horizontal */
  gap: 10px; /* Beri jarak antara tombol dan teks */
}

.pad--bot {
  padding-bottom: 10px;
}
